<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MaBatis全局配置文件 -->
<configuration> <!-- 对应org.apache.ibatis.session.Configuration类 -->
	<!-- 注意MyBatis全局配置文件的层次结构是不能颠倒顺序的！ -->
	<!-- 下面的第1、2、3点是MyBatis全局配置文件必配的三项，即配置事务管理器、数据源和映射器 -->
	<!-- 属性配置 -->
	<properties resource="db.properties">
		<property name="driver" value="com.mysql.jdbc.Driver"/>	<!-- 数据源四个必须要素：数据库驱动、数据库url、用户名和密码 -->
		<property name="url" value="jdbc:mysql://localhost:3306/sampledb"/>
		<property name="username" value="root"/>
		<property name="password" value="zzw1234"/>
	</properties>
	
	<!-- 配置MyBatis的设置 -->
	<settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
		<!-- 自动映射设置 -->        
<!--         <setting name="autoMappingBehavior" value="NONE"/> -->
		<!-- 下划线自动转为驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
	<!-- 配置别名 -->
	<typeAliases>
		<typeAlias type="com.asiainfo.entity.User" alias="User"/>
		<typeAlias type="com.asiainfo.entity.QueryUserParam" alias="QueryUserParam"/>
		<typeAlias type="com.asiainfo.entity.Course" alias="Course"/>
		<typeAlias type="com.asiainfo.entity.StuCourse" alias="StuCourse"/>
<!-- 		<package name="com.asiainfo.entity"/> -->
	</typeAliases>
	
	<!-- 配置类型处理器——处理javaType和jdbcType的映射 -->
	<typeHandlers>
<!-- 		<typeHandler handler="com.asiainfo.handler.MyStringTypeHandler" javaType="String" jdbcType="VARCHAR"/> -->
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.asiainfo.enums.LockEnum"/>
<!-- 		<typeHandler handler="com.asiainfo.handler.MyEnumTypeHandler" javaType="com.asiainfo.enums.LockEnum" jdbcType="VARCHAR"/> -->
<!-- 		<package name="com.asiainfo.handler"/> -->
	</typeHandlers>
	
	<!-- 配置对象工厂——将从数据库查询到的数据映射为POJO -->
	<objectFactory type="com.asiainfo.handler.MyObjectFactory"></objectFactory>
	
	<!-- 配置插件 -->
<!-- 	<plugins></plugins> -->
	
	<!-- 配置环境 -->
	<environments default="development">
		<environment id="development">
			<!-- 1、配置事务管理器 -->
			<transactionManager type="JDBC">
				<property name="autoCommmit" value="false"/>
			</transactionManager>
			
			<!-- 2、配置数据源 -->
<!-- 			<dataSource type="POOLED"> -->
			<dataSource type="com.asiainfo.handler.MyDbcpDataSourceFactory">	<!-- 使用自定义的数据源 -->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 配置数据库厂商标识 -->
<!-- 	<databaseIdProvider type="DB_VENDOR"> -->
	<databaseIdProvider type="com.asiainfo.handler.MyDatabaseIdProvider">	<!-- 自定义数据库厂商标识规则类 -->
		<property name="MySQL" value="mysql"/>
		<property name="Oracle" value="oracle"/>
	</databaseIdProvider>
	
	<!-- 3、配置映射器 -->
	<mappers>
		<mapper resource="mapper/UserMapper.xml"/>	<!-- 引入映射器的方式1 -->
		<!-- <package name="com.asiainfo.mapper"/> -->	<!-- 引入映射器的方式2 -->
		<!-- <mapper class="com.asiainfo.mapper.UserMapper"/> -->	<!-- 引入映射器的方式3 -->
		<!-- <mapper url="file:///Applications/Eclipse.app/Contents/Eclipse/workspace/MyBatis_Broadview/src/main/resources/mapper/UserMapper.xml"/> -->	<!-- 引入映射器的方式4 -->
<!-- 		<package name="mapper"/> -->
		<mapper resource="mapper/StudentMapper.xml"/>
		<mapper resource="mapper/StudentCardMapper.xml"/>
		<mapper resource="mapper/CourseMapper.xml"/>
		<mapper resource="mapper/StuCourseMapper.xml"/>
	</mappers>
</configuration>