<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MaBatis全局配置文件 -->
<configuration> <!-- 对应org.apache.ibatis.session.Configuration类 -->
	<!-- 下面的第1、2、3点是MyBatis全局配置文件必配的三项，即配置事务管理器、数据源和映射器 -->
	
	<settings>
        <!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。默认：true  -->
<!--         <setting name="lazyLoadingEnabled" value="true"/> -->
        <!-- sql 打印到控制台 -->
        <!-- <setting name="logImpl" value="STDOUT_LOGGING"/> -->
        <!-- mybatis sql打印到log4j文件-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 当启用时，有延迟加载属性的对象在被调用时将会完全加载任意属性。否则，每种属性将会按需要加载 -->
<!--         <setting name="aggressiveLazyLoading" value="false"/> -->
<!--         <setting name="jdbcTypeForNull" value="NULL"/>   -->
    </settings>
	<!-- 设置别名 -->
	<typeAliases>
		<typeAlias type="com.asiainfo.entity.User" alias="User"/>
	</typeAliases>
	
	<!-- 配置环境 -->
	<environments default="development">
		<environment id="development">
			<!-- 1、配置事务管理器 -->
			<transactionManager type="JDBC"></transactionManager>
			
			<!-- 2、配置数据源 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>	<!-- 数据源四个必须要素：数据库驱动、数据库url、用户名和密码 -->
				<property name="url" value="jdbc:mysql://localhost:3306/sampledb"/>
				<property name="username" value="root"/>
				<property name="password" value="zzw1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 3、配置映射器 -->
	<mappers>
		<mapper resource="mapper/UserMapper.xml"/>
	</mappers>
</configuration>