<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
	<sql id="studentCols">
		id,name,gender,student_card_num
	</sql>
	<select id="queryByStuNum" parameterType="int" resultMap="">
		select
			<include refid="studentCols"></include>
		from t_student where 			
	</select>
</mapper>